<div class="container mt-5">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Name: <%= @user.name %></h5>
    <h6 class="card-text">Email: <%= @user.email %></h6>    
    <div>
        <a class="btn btn-primary btn-lg" <%= link_to "My Events", my_events_path %></a>
        <a class="btn btn-primary btn-lg fr" <%= link_to "Attending", registered_events_path %></a>
    </div>
  </div>
</div>
</div>