<div class="container mt-5">
  <div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text"><%= @event.details %></p>
    <div>
      
      <% if @event.is_creator %>
        <a class="btn btn-primary btn-lg" <%= link_to "Edit", attend_path %></a>
        <% else %>
        <a class="btn btn-primary btn-lg" <%= link_to "Apply", attend_path %></a>
      <% end %>
    </div>
  </div>
</div>
</div>